.tag {
    height: 19px;
    margin-top: 10px;
    color: #FFD500;
    font-family: Inter;
    padding-left: 10px;
    font-size: 22px;
    font-weight: 700;
    margin-right: 50%;
}

@media screen and (min-width: 220px) {
    .tag {
        text-align: center;
        margin: auto;
        margin-top: 25px;
        margin-left: -30%;
        margin-right: 30%;
    }
}

.arrow {
    height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.search {
    margin: auto;
    display: block;
    width: 300px;
    height: 50px;
    margin-top: 40px;
    background: #FFFFFF;
    top: 104px;
    left: 38px;
    margin-bottom: 50px;
    gap: 0px;
    border-radius: 20px;
    border: none;
    opacity: 0px;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
}

.names {
    margin: auto;
    display: block;
    height: 55px;
    width: 343px;
    text-align: left;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
    border-radius: 12px;
    padding-left: 10px;
}

.customerName {
    height: 15px;
    font-family: Inter;
    font-size: 13px;
    font-weight: 550;
    padding-top: 12px;
    padding-left: 30px;
    text-align: left;
    color: #000000;
    margin-left: 60px;
}

.sohamImg {
    width: 38px;
    border-radius: 20px;
    margin-left: 10px;
    float: left;
    margin-top: -6px;
    padding-top: 15px;
}

.number {
    height: 12px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 450;
    line-height: 12.1px;
    text-align: left;
    color: #010101;
    padding-top: 15px;
    padding-left: 15px;
    margin-left: 60px;
}

.plus {
    width: 27px;
    height: 35px;
    top: 663px;
    left: 319px;
    border: 1px solid black;
    border-radius: 70px;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    color: #FFD500;
    align-items: end;
}

.plusBtn {
    width: 52px;
    height: 54px;
    margin-left: 300px;
    border: none;
    background-color: #FFFFFF;
    position: absolute;
    margin-right: 40px;
    right: 10px;
    bottom: 20%;
} 

.bottom {
    background-color: #FFD500;
    width: 400px;
    height: 73px;
    border-radius: 0px 0px 35px 35px;
    position: absolute; 
    bottom: 0px; 
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center; 
    justify-content: space-around;
}

li {
    width: 33px;
    height: 20px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 650;
    letter-spacing: -0.5px;
    text-align: center;
    padding-top: 35px;
}

li button {
    background-color: #FFD500;
    border: none;
    padding-left: initial;
    font-family: Inter;
    font-size: 13px;
    font-weight: 610;
}

.styleForBtn {
    margin-left: 36.5%;
    border: none;
    background-color: #FFFFFF;
}

/* Chat GPT */

.bottom ul {
  list-style-type: none;
  padding: 0;
}

.bottom li {
  display: inline;
  margin-right: 20px;
}

.bottom button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.bottom .active {
  text-decoration: underline;
  color: blue; /* Change this to your desired color */
}
