.otp {
    height: 30px;
    top: 381px;
    left: 17px;
    color: #FFD500;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    margin: 20px 0px 0px 40px;
}

.para1 {
    margin: 30px 0px 0px 40px;
    height: 40px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: left;
}

.para2 {
    height: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 19.5px;
    text-align: center;
    margin-bottom: 50px;
}

.para2 span {
    color: #ED6400;
    font-size: 20px;
    font-weight: 550;
    font-family: Poppins;
    text-align: center;
}

.otp-area {
    width: 50%;
    margin: 20px auto;
    display: flex;
    gap: 10px;
    margin-right: 110px;

    input {
        width: 50px;
        padding: 10px;
        outline: none;
        border-radius: 10px;
        text-align: center;
        background-color: #E3E3E3;

        &:focus {
            border: 2px solid black;
        }
    }
}