.names2 {
    margin: auto;
    width: 254px;
    text-align: center;
    height: 75px;
}

.number3 {
    height: 12px;
    line-height: 12.1px;
}

.sohamImg4 {
    /* border-radius: 20px;
    float: left;
    width: 40px;
    height: 40px;
    margin-top: 25px; */
    border-radius: 20px;
    float: left;
    width: 70px;
    height: 70px;
    margin-top: 55px;
}

.imag2 {
    border: 1px solid black;
    border-radius: 60px;
}


.box {
    width: 343px;
    height: 55px;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
    margin: auto;
    display: block;
    height: 70px;
    width: 370px;
    text-align: left;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
    border-radius: 12px;
}

.customerName {
    height: 15px;
    font-family: Inter;
    font-size: 17px;
    font-weight: 550;
    padding-top: 16px;
    padding-left: 15px;
    text-align: left;
    color: #000000;
    margin-left: 60px;
}

.customerName2{
    padding-top: 27px;
}

.iconStyle {
    border: none;
    background-color: white;
    float: inline-end;
    margin-right: 30px;
}
