.inputField {
  margin-left: 33%;
  width: 400px;
  height: 350px;
  border: 1px solid black;
  margin-top: 5%;
  border-radius: 20px;
}

.customerName3 {
  font-size: 18px;
  font-weight: 720;
  text-align: left;
  padding-top: 25px;
}

.custImg {
    border-radius: 20px;
    float: left;
    height: 45px;
    width: 45px;
    margin-top: 25px;
}

.sizeOfBox {
  margin: auto;
  border: 1px solid black;
  width: 343px;
  height: 263px;
  border-radius: 20px;
  background-color: #FFFCF0;
}

.label1 {
  padding-left: 20px;
  width: 150px;
  height: 5px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
}

.input1  {
  width: 100px;
  padding: 10px;
  height: 25px;
  border-radius: 5px;
  margin-left: 20px;
}

.handleInputStyle {
  margin-top: 20px;
  display: table-caption;
  display: flex; 
  justify-content: center;
}

.input3 {
  width: 284px;
  height: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
}

.label3 {
  padding-left: 20px;
  margin-top: 8px;
  height: 5px;
  font-family: Inter;
  font-size: 11px;
  font-weight: 400;
}

.lastDiv {
  margin: auto;
  width: 343px;
  height: 150px;
  border-radius: 20px;
  border: 1PX solid black;
  background-color: #FFFCF0;
}

.combine {
  display: flex;
}

.num {
  width: 87px;
  height: 32px;
  border-radius: 20px 0px 0px 0px;
  background-color: #FFD500;
}

.num span {
  padding-left: 15px;
  width: 46px;
  height: 18px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
}

.impDate {
  width: 225px;
  height: 12px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  padding-top: 12px;
  margin-left: 35%;
}

.lastButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #FFD500;
  border: none;
  margin-bottom: 20px;
}

.lastButton span {
  width: 129px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 850;
  color: #FFFFFF;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
}

.form-group {
  /* padding: 5px; */
  width: 60%;
}

.form-group4 {
  padding: 5px;
  width: 60%;
  margin-left: 30%;
}

.form-group .input1 {
  width: 70%;
}

.interestCal {
  width: 200px;
  height: 20px;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 12.1px;
  margin: 40px 0px 0px 5px;
}

.interestLast {
  display: flex;
}

.circle2 {
  width: 18px;
  height: 18px;
  border-radius: 90px;
  background-color: #D9D9D9;
  margin: 40px 0px 0px 40px;
}