.styleOfVarient {
    color: #FFD500;
    padding-left: 10%;
}

@media only screen and ( min-width: 320px) {
    .styleOfVarient {
        text-align: left;
        margin-left: 29%;
    }
}

.name4 {
    margin: auto;
    display: block;
    width: 350px;
    height: 58px;
    margin-top: 20px;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
    border-radius: 12px;
}

.styleForBox1 {
    width: 140px;
    height: 125px;
    border-radius: 34px;
    border: 0.3px solid #000000;
    margin-left: 4%;
    background-color: #FFFCF0;
}

.styleForBox2 {
    width: 140px;
    height: 125px;
    border-radius: 34px;
    border: 0.3px solid #000000;
    margin-left: 4%;
    background-color: #FFFCF0;
}

.styleForInt {
    width: 150px;
    height: 22px;
    padding-top: 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.styleForDiv2 {
    display: flex;
    margin-top: 20px;
}

@media only screen and ( min-width: 400px) {
    .styleForDiv2 {
        display: 'flex';
        justify-content: center;
        align-items: center;
        margin-left: -80px;
    }
}

.receivedAmount {
    width: 150px;
    height: 22.87px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 550;
    padding-top: 20%;
    text-align: center;
    padding-left: 33px;
}

.receivedAmount span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 550;
    text-align: center;
    color: #4CFA7E;
}

.pendingAmt {
    width: 150px;
    height: 22.87px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 550;
    padding-top: 10px;
    padding-left: 35px;
}

.pendingAmt span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 550;
    padding-top: 10px;
    color: #FF0000;
}

.recentTran {
    text-align: left;
    width: 230px;
    height: 19px;
    margin-top: 15px;
    padding-left: 35px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-left: 33%;
}

@media only screen and (min-width: 220px) {
    .bottom {
        width: 100%;
        height: 73px;
        display: block;
        align-items: end;
    }
    .ul {
        list-style-type: none;
        display: flex;
        justify-content: center; 
        justify-content: space-around;
    }
}