.search2 {
    margin: auto;
    display: block;
    width: 300px;
    height: 40px;
    background: #FFFFFF;
    margin-bottom: 30px;
    border-radius: 20px;
    border: none;
    opacity: 0px;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
}

.buttons {
    margin: auto;
    width: 343px;
    height: 45px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    box-shadow: 0px 1px 1px 1px rgb(111, 118, 125);
    margin-bottom: 30px;
}

.bt {
    border: none;
    background-color: #FFFFFF;
    width: 170px;
    height: 45px;
    border-radius: 20px;
    background-color: #FFD500;
}


.bt span {
    width: 103px;
    height: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: -0.5px;
    text-align: center;
}

.bt2 {
    border: none;
    background-color: #FFFFFF;
    width: 170px;
    height: 45px;
    border-radius: 20px;
}

.bt2 span {
    width: 65px;
    height: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 8
    00;
    line-height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
}

.bt2 button:hover {
    width: 235px;
    height: 40px;
    border-radius: 20px;
    background-color: #FFD500;
}


.date {
    width: 150px;
    height: 30px;
    font-family: Inter;
    font-size: 15px;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
    margin-left: 25px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 320px) {
    .date {
        margin: auto;
        padding-bottom: 20px;
    }
}

.amount {
    text-align: end;
    margin-right: 20px;
}

.circle {
    width: 15px;
    display: flex;
    border-radius: 20px;
    height: 15px;
    background-color: #D9D9D9;
    padding-right: 20%;
}

.createCircle {
    display: flex;
    justify-content: space-evenly;
    padding-left: 85%;
}